<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring1.persistence.TestMapper">
    <select id="getTestList2" resultType="com.spring1.domain.Test">
        SELECT * FROM test
    </select>
    <select id="getTest2" resultType="com.spring1.domain.Test">
        SELECT * FROM test WHERE num = #{num}
    </select>
    <insert id="insert2">
        INSERT into test (title) VALUES (#{title})
    </insert>
    <update id="update2">
        UPDATE test SET title = #{title} WHERE num = #{num}
    </update>
    <delete id="delete2">
        DELETE FROM test WHERE num = #{num}
    </delete>
</mapper>